<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<hr/>
<div id="outwarehouse" class="wstyle outwarehousebg">
    <div class="innerwarehouse">
        <form action="outwarehouse" method="POST">
            <input name="outware_id" placeholder="出库ID" type="text" />
            <input name="outdate" placeholder="出库日期" type="text" />
            <input name="outname" placeholder="提货人" type="text" />
            <input name="keepname" placeholder="保管员" type="text" />
            <input name="empname" placeholder="操作员" type="text"/>
            <hr/>
            <div class="outwarehousegoods">
                <input name="goods_id" placeholder="商品ID" type="text" />
                <input name="gname" placeholder="名称" type="text" />
                <input name="gtype" placeholder="规格" type="text" />
                <input name="gunits" placeholder="单位" type="text" />
                <input name="gnumber" placeholder="数量" type="text" />
                <input name="gprice" placeholder="单价" type="text" />
                <input name="gsupplier" placeholder="供货商" type="text" />
            </div>
            <br/>
            <br/>
            <label id="totle">总额:</label>
            <hr/>
            <input class="button" type="submit" value="生成入库单"   disabled="disabled" />
        </form>
    </div>
</div>